@media(max-width: $tablet){
  .middle{
    height: 350px;
  }
  .container{
    width: 90%;
    margin: 0 auto;
  }
}
@media(max-width: $phone){
  .middle,.bar{
    display: none;
    width: 0px;
  }
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .right{
    width:100%;
  }
  .content{
    width: 100%;
    margin-bottom: 20px;
  }
  .left{
    width: 0%;
    h1,p{
      display: none;
    }
  }
  .phone_text{
    display: block;
  }
}
